.cursor/
.venv/
.idea/
.vscode/
.temp/
.cache/

data/
weights/
.env

paper/main.aux
paper/main.bbl
paper/main.bcf
paper/main.blg
paper/main.dvi
paper/main.fdb_latexmk
paper/main.fls
paper/main.log
paper/main.out
paper/main.run.xml
paper/main.synctex.gz
paper/main.toc

.latexmkrc