gitmain.blg
main.tex
main.toc
references.bib
main.synctex.gz
main.run.xml
main.out
main.log
main.fls
main.fdb_latexmk
main.bcf
main.bbl
main.aux
main.blg
.cursor
.venv
.idea
.temp
.cache
data
weights/
